.madkuduSend {
	background-color: #3398df;
	width: 70px;
	text-align: left;
	letter-spacing: 1px;
	padding-left: 3px;
	background-image: url("https://assets.website-files.com/5d279ebd3e4dac05c81d8ac5/5d8a9ca36815195f933beaf3_logo-blue.svg");
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}